main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cards_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 55em;
}

#game_header {
  display: flex;
}

.header_text {
  color: white;
  margin: 1em;
}
